/*
* theme-indigo-color: #3f51b5;
* theme-orange-color: #ff5722;
* title-link-color: #575858;
* */
html{
	scroll-behavior: smooth;
}
body{
	/*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
	font-family: 'Noto Sans', sans-serif;
	font-size: 16px!important;
	color: #333333;
	background-color: #ffffff;
}

::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #3f51b5;
}
::-webkit-scrollbar-thumb:hover {
  background: #ff5722;
}

.text-title-link{
	color: #575858;
}
.text-title-link:hover{
	color: #3f51b5;
}

/*
* ===========
*  Additional
* ===========
**/

.hover-indigo {
	transition: all .5s ease;
	background: linear-gradient(to right, #3f51b5 50%, #fff 50%);
	background-size: 200% 100%;
	background-position: right;
}
.hover-indigo:hover,
.hover-indigo:hover a {
	background-position: left;
	color: #fff!important;
}

.full-width-ad{
	width: 100%;
}

/*
* ===========
*  Topbar
* ===========
**/
#topbar {
	border-bottom: 1px solid #f6f6f6
}

#topbar,
#topbar a {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 13px;
	/*color: #898989;*/
	color: #575b6d;
}

#topbar a:hover {
	color: #3f51b5;
}

/*
* ===========
*  Date
* ===========
**/
.date-container{
	border-top: 1px solid #f6f6f6;
	border-bottom: 1px solid #f6f6f6;
	color: #575b6d;
	font-weight: 400;
}

.date-container .english-date {
	font-weight: 500;
}

/*
* ============
* Page Heading
* ============
*/
.page-heading {
	display: flex;
	color: #ff5722;
	padding: 10px;
	max-width: 600px;
	margin: 25px auto;
}

.page-heading:before,
.page-heading:after {
	content: '';
	margin: auto 1em;
	border-bottom: 1px solid #c9c9c9;
	flex: 1;
}

.page-heading h1 {
	position: relative;
	padding: 0.25em 2em;
	overflow: hidden;
	background: linear-gradient(currentcolor, currentcolor) no-repeat top center, linear-gradient(currentcolor, currentcolor) no-repeat bottom center;
	background-size: calc(100% - 1.65em) 1.1px;
}

.page-heading h1:before,
.page-heading h1:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	border: 1.5px solid #ff5722;
	border-top: none;
	border-bottom: none;
	transform: skew(45deg)
}
.page-heading h1:after {
	transform: skew(-45deg)
}
/*
* ============
* category page
* ============
*/
.post-card {
	transition: 1s ease;
}
.post-card:hover {
	box-shadow:	0 1px 3px 0 rgba(0,0,0,.16),0 1px 5px 0 rgba(0,0,0,.12)!important;
}
.post-card .post-thumbnail {
	height: 210px;
}
.post-card .post-title {
	transition: 0.5s color;
}
.post-card .post-title:hover {
	color: #ff5722!important;
}
.post-card .post-meta {}
.post-card .post-excerpt {}


/* Video container */
.video-container{
	text-align: center;
}
.video-container iframe{
	width: 100%!important;
	height: auto!important;
	min-height: 350px;
}

.embed-container {
	position: relative;
	padding-bottom: 56.25%;
	overflow: hidden;
	max-width: 100%;
	height: auto;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


/*
* ==========
* E-paper
* ==========
*/
.epaper-card {
	position: relative;
}
.epaper-card .title-container {
	position: absolute;
	bottom: 0;
	background-color: rgba(12, 12, 12, 0.86);
	color: #fff;
	width: 100%;
	padding: 10px 15px;
	font-size: 18px;
}
.epaper-card .download-container {
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	background-color: #f7f7f7;
	-moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.14);
	-webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.14);
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.14);
	color: #ff5722;
	width: 100%;
	height: 0;
	transition: 0.5s ease;
}
.epaper-card:hover .download-container {
	height: 100%;
	top: 0;
	padding: 15px;
	transform: scale(1.01);
}
.epaper-card .download-container .file-details {
	color: #4c4948;
	font-size: 18px;
}

/* Pagination */
.pagination{
	justify-content: center;
	align-items: center;
	background-color: #f7f7f7;
	border-radius: 0;
	padding: 10px;
}
.pagination .page-numbers{
	margin: auto 5px;
	padding: 10px 16px;
	background-color: #fff;
	color: #3f51b5;
}
.pagination .page-numbers:hover{
	background-color: #3f51b5;
	color: #fff;
	transform: scale(1.10);
	transition: transform 0.1s ease-in-out;
}
.pagination .page-numbers.dots{
	color: #f7f7f7;
}
.pagination .page-numbers.current{
	background-color: #ff5722;
	color: #fff;
	transform: scale(1.10);
	font-weight: bold;
}

/*
* ===========
*  Footer
* ===========
**/
footer{
	padding-top: 20px;
	border-top: 1px solid #f1f1f1;
	background-color: #fbfbfb;
}

.footer-logo img {
	max-height: 90px!important;
}
.footer-social-links .btn{
	border: 1px solid #514848;
	border-radius: 4px;
	padding: 10px 15px;
	text-transform: capitalize;
	-webkit-transition: all 0.3s ease-in-out;
}
.footer-social-links .btn i{
	color: #1976d2;
}
.footer-social-links .btn:hover{
	-webkit-transition: all 0.3s;
	background-color: #3f51b5;
	border-color: #3f51b5;
	border-radius: 0;
	color: #fff;
}
.footer-social-links .btn:hover i{
	-webkit-transition: all 0.3s;
	color: #fff;
}

.footer-contact ul li{
	font-size: 1.1em;
	margin-bottom: 5px;
	color: #484848;
}
.footer-contact ul li a{
	color: #484848;
}
.footer-contact ul li label{
	color: #3f51b5;
}
footer .owners-list{
	padding-right: 15px;
	font-size: 1.1em;
}
footer .owners-list .head{
	color: #3f51b5;
	font-weight: bolder;
}
footer .owners-list .link a{
	color: #3f51b5;
	font-weight: bolder;
}